@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

.div-menu span {
  font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
}